<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="home" class="navbar-brand">Limb Rescue</a>
    <div class="navbar-nav mr-auto">
      <li *ngIf = "!isLoggedIn" class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="graph" class="nav-link">Graph</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="machine-learning" class="nav-link">Machine Learning</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="results" class="nav-link">Results</a>
      </li>
    </div>
    <div>
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
            <a *ngIf="isLoggedIn" class="nav-link" href="/login" (click)=handleLogout()>Logout</a>
        </li>
    </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<router-outlet></router-outlet>