<div *ngIf="data.reading_ids!=undefined && data.reading_ids.length!=0; else noSubjectsSelected">
    <h1 mat-dialog-title class="centered">Add Subjects to an Existing Group</h1>
    <mat-dialog-content [formGroup]="form">
        <ul class="no-bullets">
            <li>
                <mat-form-field appearance="fill">
                    <mat-label>Reading IDs</mat-label>
                    <input matInput formControlName="reading_ids" [readonly]="true" value="{{data.reading_ids}}"/>
                </mat-form-field>
            </li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid" type="submit">Save</button>
    </mat-dialog-actions>
</div>
<ng-template #noSubjectsSelected>
    Please select some subjects before trying to add to an existing group.
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
    </mat-dialog-actions>
  </ng-template>