table 
  position: relative
  width: 100%

.table-style
  position: absolute
  left: 10%
  width: 80%

.mat-form-field 
  font-size: 14px
  width: 50%
  left: 25%

.mat-paginator
  width: 100%
  left: 50%

td, th 
  width: 25%

