<h1 mat-dialog-title class="centered">Update Reading {{data.id}}</h1>
<mat-dialog-content [formGroup]="form">
    <ul class="no-bullets">
        <li>
            <mat-form-field appearance="fill">
                <mat-label>Patient Number</mat-label>
                <input matInput formControlName="patient_no" value="{{data.patient_no}}"/>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field appearance="fill">
                <mat-label>Comments</mat-label>
                <textarea matInput formControlName="comments">{{data.comments}}</textarea>
            </mat-form-field>
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" type="submit">Save</button>
</mat-dialog-actions>