<div class="mat-elevation-z8" style="margin-top: 10%; padding-top: 1%; margin-left: 120px; margin-right: 120px;">
    <h2 *ngIf="!show_spinner" style="text-align: center;"> Run ML Algorithm</h2>
    <form name="mlForm" style="text-align: center;padding-top: 2%;">
        <mat-form-field *ngIf="!show_spinner" appearance="fill">
            <mat-label *ngIf="!show_spinner">Select Group</mat-label>
            <mat-select *ngIf="!show_spinner" [(ngModel)]="group_select" name="group" required>
                <mat-option *ngFor="let group of groups" [value]="group.value">
                   {{group.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!show_spinner">Group choice is required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!show_spinner" appearance="fill">
            <mat-label *ngIf="!show_spinner">Select Algorithm</mat-label>
            <mat-select *ngIf="!show_spinner" [(ngModel)]="algo_select" name="group" required>
                <mat-option *ngFor="let algo of algos" [value]="algo.value">
                    {{algo.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!show_spinner">Algorithm choice is required</mat-error>
        </mat-form-field> 
        <mat-spinner style="left: 45%;" *ngIf="show_spinner"></mat-spinner>
        <p style="left: 45%;" *ngIf="show_spinner">Please wait, this may take a while.</p>
        <div style="text-align: center;padding-bottom: 1%;">
            <button mat-raised-button *ngIf="!show_spinner" color="primary" id="run-button" (click)=runML() [disabled]="group_select == undefined || algo_select == undefined">Run</button>
        </div>
    </form>
</div>

