<div class="container col-lg-11">
    <h2 style="text-align: center;"> Select Graph</h2>
    <form name="mlForm" style="text-align: center;padding-top: 2%;">


        <mat-form-field appearance="fill">
            <mat-label>Select Patient</mat-label>
            <mat-select (selectionChange)="toggleSelect($event)" [(ngModel)]="patient_select" name="patient">
                <mat-option *ngFor="let patient of patients" [value]="patient.value">
                   Patient: {{patient.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field id="reading-select-field" appearance="fill" style="display: none;">
            <mat-label>Select Readings</mat-label>
            <mat-select (selectionChange)="toggleButton($event)" [(ngModel)]="reading_select" name="reading">
                <mat-option *ngFor="let reading of readings" [value]="reading.value">
                    {{reading.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div style="text-align: center;padding-bottom: 1%;">
        <button mat-raised-button color="primary" id="run-button" style= "display: none;">View Graph</button>
    </div>
    <div class="table-style">
        <h2 style="position: relative;  left:44%;">Graph for Reading 1</h2>
    </div>
    <div style="display: block;" >
        <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="scatterChartData"
                [options]="scatterChartOptions"
                [chartType]="scatterChartType">
            </canvas>
        </div>
    </div>
</div>

